*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
footer{
	background-color: #ff8a00;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footerdetails{
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: white;
	margin-top: 40px;
	margin-bottom: 75px;
	padding: 5px 0;
}

.footercall,
.footerfind{
	margin-bottom: 12px;
}

.footernumber{
	color: black;
	font-weight: bold;
}

.footerinput input[type="email"]{
	border: none;
	border-bottom: 1px solid black;
	background-color: #ff8a00;
	/*margin-right: 7px;*/
	font-size: 17px;
	width: 190px;
	padding: 5px 0;
	font-family: 'Poppins', sans-serif;
}

.footerinput input[type="submit"]{
	border: none;
	font-family: 'Poppins', sans-serif;
	background-color: white;
	padding: 5px 20px;
	border-radius: 15px;
}

.footerinput input[type="submit"]:hover{
	border: 1px solid white;
	background-color: inherit;
	color: white;
}

.icons{
	display: flex;
	justify-content: center;
}

.iconslogo{
	margin-right: 18px;
}
.twitter{
	padding: 5px 6px;
	height: 28px;
	border-radius: 50%;
	background-color: white;
	color:#ff8a00;
}

.facebook{
	padding: 3px 6px;
	height: 28px;
	border-radius: 50%;
	background-color: white;
	color: #ff8a00;
}

.mail{
	background-color: #ff8a00;
	color: white;
	font-size: 25px;
}
.mail:hover{
	cursor:pointer;
}
.twitter:hover,
.facebook:hover{
	cursor: pointer;
	border: 1px solid white;
	background-color: #ff8a00;
	color: white;
}
.footerjoin{
	margin-bottom: 12px;
}


.lastfooterdiv{
	text-align: center;
	padding: 10px 5px 10px 0;
}


@media (max-width:600px){
	.footerdetails{
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	.footerdetails-items{
		margin-bottom: 30px;
	}
}

@media (max-width:900px){
	.footerinput input[type="email"]{
		width: 50%;
	}
}